.jumbotron  {
background-color:yellow;
color: black;
margin-top: 50px

.btn {
background-color:Green;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color:yellow;
  margin-botton:0
  margin-top:10;
  
}

.card-computadores {
  flex:1 150px; 
  padding:2px 0px 2px 0px;
  margin top:10px;
}

.btn-información {
  width: 100x;
  position: absolute;
  left: 0;
  botton: o; 
    
}

.footer-address-icon {
padding-right:10px;    
}

#id1h1{
      background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
    
}

#form1 {
padding: 50%;
background-color:red;
}

